*~
#$
*.~polynomials~
*.blend1
*.blend2
*.xcf
*.cpp~
*.swp
*.h~
*.h#

/OSGProjekt1/LSysPlant.cpp~
/OSGProjekt1/Debug/vc90.pdb
/OSGProjekt1/LSysPlant.h~
/OSGProjekt1/Main.cpp~
/OSGProjekt1/Main.h~
/OSGProjekt1/NaturalCubicSpline.cpp~
/OSGProjekt1/NaturalCubicSpline.h~
/OSGProjekt1/Release/vc90.idb
/OSGProjekt1/Release/vc90.pdb
/OSGProjekt1/x64/Debug/NaturalCubicSpline.obj
/OSGProjekt1/x64/Debug/vc90.idb
/OSGProjekt1/x64/Debug/vc90.pdb
/x64/Release/OSGProjekt1.exe
/Cubic.java
/Debug/OSGProjekt1.pdb
/NatCubic.java
/OSGProjekt1/BSpline.cpp~
/OSGProjekt1/BSpline.h~
/OSGProjekt1/CubicSpline.cpp~
/OSGProjekt1/Debug/vc90.idb
/OSGProjekt1/x64/Release/vc90.idb
/OSGProjekt1/x64/Release/vc90.pdb
/cessna.osg
/cessna.osgt
/cessnafire.osg
/cessnafire.osgt
/x64/Debug/OSGProjekt1.exe
/x64/Debug/OSGProjekt1.ilk
/x64/Debug/OSGProjekt1.pdb
/x64/Debug/output.txt

/OSGProjekt1/Release
/OSGProjekt1/Release/Main.obj
/OSGProjekt1/Release/BuildLog.htm
/OSGProjekt1/Debug/OSGProjekt1.exe.embed.manifest.res
/OSGProjekt1/Debug/BuildLog.htm
/OSGProjekt1/Debug/OSGProjekt1.exe.embed.manifest
/OSGProjekt1/Debug/OSGProjekt1.exe.intermediate.manifest
/OSGProjekt1/Debug/Main.obj
/x64/Debug/cessnafire.osgt
/x64/Debug/cessna.osg
/x64/Debug/cessnafire.osg
/x64/Debug/cessna.osgt

OSGProjekt1/fparser/docs/
OSGProjekt1/fparser/extrasrc/fp_identifier_parser.inc
OSGProjekt1/fparser/extrasrc/fp_opcode_add.inc
OSGProjekt1/x64/
Paper/NatCubic.java
x64/

3d/Grass0126_2_H.jpg
3d/Wall0.blend
3d/Wall1.blend
3d/Wall2.blend
3d/Wall3.blend
3d/Wall4.blend
3d/Wand_bake.png
3d/Wand_bake_1M.png
